@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.background-image {
    background-image: url('https://hips.hearstapps.com/hmg-prod/images/mhcomics-landingpage-lead-6659f1a3c2a2d.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}

.home-navbar div p {
    transition: transform 0.3s ease;
}

.home-navbar div p:hover {
    transform: translateY(-3px);
}

.home-navbar .searchbar img {
    transition: transform 0.3s ease;
}

.home-navbar .searchbar img:hover {
    transform: translateY(-3px);
}

.home-content {
    background-color: lightblue;
    padding-bottom: 30px;
}

/* COMIC IMAGE GALLERY CSS */
.comic-gallery-section {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comic-gallery-section .create-post-button {
    transition: all 0.3s ease;
}

.comic-gallery-section .create-post-button:hover {
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.719);
    transform: translateY(-3px);
}

.comic-gallery {
    justify-items: center;
    gap: 30px;
}

.comic-gallery .comic-container {
    width: inherit;
    height: min-content;
    background-color: white;
    transition: all 0.3s ease;
}

.comic-gallery .comic-container:hover {
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 0 0 8px black, 0 0 8px black;
}

.comic-gallery .comic-container .comic-image {
    width: 100%;
    height: auto;
    flex: 0 0 auto;
    border: thin solid gray;
}

.comic-gallery .comic-container .comic-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 18px;
}

.comic-gallery .comic-container .comic-info h1 {
    font-size: x-large;
    font-weight: bold;
}

.comic-gallery .comic-container .comic-info p {
    font-size: 16px;
    color: rgb(63, 63, 63);
}

.comic-gallery .comic-container .continue-reading-link {
    display: block;
    color: red;
    font-size: 16px;
    padding: 0px 18px;
    transition: transform 0.3s ease;
}

.comic-gallery .comic-container .continue-reading-link:hover {
    cursor: pointer;
    text-decoration: underline;
    transform: translateY(-2px);
}

/* VIEW COMIC PAGE */
.view-comic-page .view-comic-content .send-comment-section .type-comment {
    border: thin solid black;
    padding: 12px;
    height: 250px;
}

.view-comic-page .view-comic-content .send-comment-section .type-comment textarea {
    width: 100%;
    height: 100%;
    resize: none;
}

.view-comic-page .view-comic-content .send-comment-section .type-comment textarea:focus {
    outline: none;
}

.view-comic-page .view-comic-content .send-comment-section .submit-button-container {
    display: flex;
    justify-content: flex-end;
}

.view-comic-page .view-comic-content .send-comment-section .submit-button-container button {
    border: thin solid black;
    padding: 8px 12px;
    border-radius: 10px;
    background-color: lightgray;
}

.view-comic-page .view-comic-content .send-comment-section .submit-button-container button:hover {
    background-color: rgb(238, 238, 238);
}

.view-comic-page .view-comic-content .send-comment-section .submit-button-container button:active {
    background-color: lightgray;
    outline: none;
}

/* ...comment section */
.view-comic-page .view-comic-content .comment-section {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.view-comic-page .view-comic-content .comment-section .user-comment {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.view-comic-page .view-comic-content .comment-section .user-comment .right-section .like-dislike-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

/* CREATE NEW COMIC (POST) PAGE CSS */
.create-comic .create-form .description-section textarea {
    resize: none;
    height: 300px;
}